<div class="row">
<div class="col-md-5">
  <app-recipes-list (recipeSelected)="recipeWasSelected = $event"></app-recipes-list>
</div>
<div class="col-md-7">
  <app-recipes-detail *ngIf="recipeWasSelected;else infoText" [recipe]="recipeWasSelected"></app-recipes-detail>
  <ng-template #infoText>
    <p>Please select a recipe</p>
  </ng-template>
</div>
</div>
