
<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
    <app-recipes *ngIf="loadedfeature==='recipe'"></app-recipes>
    <app-shopping-list *ngIf="loadedfeature!=='recipe'"></app-shopping-list>
</div>
</div>
</div>